@media (max-width : 900px)
{
    #nav-bar-links{
        display: none;
    }
    #services-for-clients{
        flex-direction: column;
    }
    .boxes{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .boxes img{
        width: 100%;
    }
    #pic-text{
        width: 97%;
        height: 96%;
    }
    #last-container{
        height: 20vh;
    }
    #fixed-img{
        height: 50vh;
    }
    #fixed-img-2{
        height: 55vh;
    }
     #burgur-icon{
        display: block;
     }
      #top-header-box{
        display: none;
      }
}

@media(max-width: 670px)
{
    #section-1-heading h1{
        font-size: 40px;
    }
    #section-1-heading pre {
        padding-right: 0px;
        text-wrap: wrap;
    }
    #section-1 {
        height: 140vh;
    }
    #section-1-element-2{
        flex-direction: column;
        align-items:center;
        gap: 12rem;
    }
    #section-1-element-2-left-side{
        width: 100%;
        padding-left: 50px;
    }
    #section-1-element-2-right-side{
        width: 100%;
        height: auto;
    }
    #section-1-element-2-right-side{
        width: 90%;
        padding-left: 40px;
    }
}