
@media(max-width:640px){
    html{
        font-size: 75%;
    }
    
    .sector3 .icons{
        width: 8rem;
    }
}

@media(max-width:568px){
    html{
        font-size: 60%;
    }
}

@media(max-width:425px){
    html{
        font-size: 55%;
    }

    .sector3 .icons{
        width: 7.5rem;
    }
}