
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Rozha;
    src: url(/assets/Fonts/Rozha-One.ttf);
}
html,body {
    background-color: black;
    font-family: jost;
}
::selection {
    background-color: black;
    color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 100%;
    max-height: calc(100vh - 80px);
    position: absolute;
    top: 15px;
    padding-left: 60px;
}
.menu-item a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 2.5;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-left: 10px;
}
.menu-item a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:28px;
}
.menu-item a:active{
    color: black;
}
#burgur-icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(294deg) brightness(100%) contrast(100%);
    display: none;
    position: fixed;
    left: 2.5rem;   
    top: 2rem;
    z-index: 99999;
}
#burgur-icon img{
    width: 20px;
}
#burgur-icon:hover{
    cursor: pointer;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    height: 80px;
    padding-left: 60px;
    padding-right: 50px;
    z-index: 1000;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 330px;
    height: 100%;
    color: white;
}

#logo-text {
    font-family: Rozha;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#logo img {
    width: 50px;
    height: 50px;
}
.nav-bar-pages-link {
    margin-right: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}
.nav-bar-pages-link:hover{
    font-weight: bold;
}
.content {
    color: white;
    display: flex;
    align-items:last baseline;
    justify-content:space-between;
    height: 23rem;
    margin:100px 70px 10px 60px ;
    padding-right: 20px;
    /* background-color: rgb(118, 0, 0); */
}

.sector1 {
    font-size: 6vw;
    font-weight: 100;
    display: flex;
    justify-content:flex-start;
    /* background-color: blueviolet; */
    width: 50vw;
    padding-bottom: 40px;
}

.sector2 {
    margin-right: 3rem;
    margin-left: 3rem;
    font-family: jost;
    height: 8.5rem;
    /* background-color: brown; */
}

.sector2 .p1 {
    padding-bottom: 1.5rem;
    font-size: small;
}

.sector2 .p2 {
    /* line-height: 1.4rem; */
    font-size:1.2rem;
}

.sector3 {
    height: 12rem;
    /* background-color: blue; */
}

.sector3 .p1 {
    /* padding-bottom: 0.5rem; */
    font-size: small;
    font-weight: 600;
}
.sector3 .email a{
    color: rgb(254, 240, 147);
    padding-bottom: 1.5rem;
    font-size: large;
    text-decoration: none;
}
.sector3 .p2 {
    padding-bottom: 1rem;
    font-size: small;
    font-weight: 600;
}
.sector3 .icons {
    height: 4rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.sector3 .icons div {
    font-size: 2.5rem;
    height: 2rem;
    width: 2rem;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons img{
    width: 1.2rem;
}
#m{
    width: 1.6rem;
}
.icons img:hover{
    cursor: pointer;
}
#map{
    position: absolute;
    right: 70px;
    /* bottom: 50px; */
}
#footer{
    height: 70px;
    width: 100%;
    /* background-color: blueviolet; */
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 3vw 0px 3vw;
}
#footer-right-side{
    color: rgb(79, 79, 79);
    font-size: 13px;
}
.svg{
    width: 17px;
    margin-left: 20px;
}